
/*机会阶段*/
.stages-box { width:100%; overflow-y:auto; white-space:nowrap; padding-bottom:30px; }
.stages-box .stages-item { width:240px; border:solid 1px #ccc; margin-right:10px; border-radius:2px; vertical-align:top;
                           background-color:#f6f6f6; padding:10px; position:relative; display:inline-block;  }
.stages-box .stages-item .name{ height:30px; line-height:30px;  text-indent:5px; }
.stages-item .name span{ font-size:14px; color:#333; display:inline-block; height:30px; line-height:30px; width:200px; }
.stages-item .name input{ height:30px; line-height:30px; width:215px; }
.stages-box .stages-item .operatestage { position:absolute; right:10px; top:20px; }

.child-items { width:240px; margin-top:5px; overflow-y:auto;}
.child-items li{ height:30px; line-height:30px; background-color:#fff; border-radius:2px; text-indent:5px; position:relative; margin-top:10px; cursor:pointer; }
.child-items li .itemname{ display:inline-block; height:30px; vertical-align:middle; float:left; }
.child-items li .operateitem{ position:absolute; right:8px; top:8px; }
.child-items li:hover .operateitem{ display:inline-block; }
.circle18{background-color: transparent;color:#2c2c2c;width: 18px;padding: 0px 5px 0px 4px; height: 16px;cursor: help;transform: scale(0.77);text-align: center;border: 1px solid #c9c9c9;border-radius: 50%;}
.stages-box .create-action { margin-top:10px; }
.stages-box .create-action textarea { width:240px; resize:none; line-height:25px; }

.stages-box .create-child { height:30px; line-height:30px; color:#999; cursor:pointer; text-indent:5px; margin-top:5px; }
.stages-box .create-child:hover { background-color:#fff; color:#333; }
/*客户来源*/
.sourceul { height:31px; }
.sourceul li { line-height: 30px; width:100px; }
.sourceul li a{ line-height: 30px;  width:100px; text-align:left; display:inline-block; color:#333; }
.sourceul .active { background-color: #fff; }
.header-mark{    overflow: auto;margin: 10px 20px 10px;}
.movespan {position: absolute;top:94px;left: 10px; width:70px; border-bottom:solid 2px #4380BE;}

.color-list li{ height:30px; line-height:30px; min-width:115px;  float:left; margin:10px 10px;  text-align:center; position:relative;}
.color-list li:hover { filter:alpha(opacity=60);-moz-opacity: 0.6; -khtml-opacity: 0.6;opacity: 0.6; }
.colordiv{overflow:auto;padding:0px 10px; min-width:80px; color:#fff; cursor: pointer;}
.color-leftzuoyou{width:0; height:0; border-top:15px solid transparent;border-bottom:15px solid transparent;cursor: pointer;}
 
.industry-list li{ height:30px; line-height:30px; width:150px;  float:left; margin:10px 10px;  text-align:center; position:relative;  }
.industry-list li input{ height:28px; line-height:30px; width:120px; padding:0 15px; text-align:center; border:solid 1px #ccc; cursor:pointer; }
.industry-list li .ico-delete{ position:absolute; right:-9px; top:-9px; display:none; background-color:white; }
.industry-list li:hover .ico-delete{ display:inline-block; }
.industry-list .industry-item:hover input{ border:solid 1px #318ae4; }


.memberlevelul {  margin: 15px 0;}
.memberlevelul li{ width: 100%;  float: left;  margin-right: 40px;  margin-bottom: 10px;    list-style-type: none;}
.memberlevelul li .memberimg{width:18px;height:18px;border-radius:50%;border: solid 1px #ccc;}
.memberlevelul li .spanimg{width:20px;height:20px;border-radius:50%;cursor: pointer;display:inline-block;}
.memberlevelul li .spanimg:hover{filter:alpha(opacity=60);-moz-opacity: 0.6; -khtml-opacity: 0.6;opacity: 0.6;}
.levelitem tr td{text-align:left;line-height: 20px;}
.levelitem span{ line-height: 30px;}
/*团队成员*/
.team-header { font-size:14px; height:20px; line-height:20px; font-weight:bold; padding-bottom:5px;}

.team-list .child-item { height:85px; width:100%; }
.team-list .team-item { height:30px; width:180px; border:solid 1px #ccc; border-radius:2px; box-shadow:0 0 3px #eee;
                        margin-top:12px; padding:10px; position:relative; cursor:pointer; float:left; margin-top:25px; border-radius:8px;}
.team-list .team-item:hover { border:solid 1px #4a98e7; }
.team-list .team-item .name{ height:30px; width:120px; float:left; margin-left:10px; line-height:30px;}
.team-list .team-item .ico-dropdown { position:absolute; right:10px; top:15px; }

.team-list .user-item { height:50px; width:180px; border:solid 1px #ccc; border-radius:2px; box-shadow:0 0 3px #eee;
                             margin-top:12px; padding:10px; position:relative; cursor:pointer; float:left; border-radius:8px;}
.team-list .user-item:hover { border:solid 1px #4a98e7; }
.team-list .user-item .user-name{ height:50px; width:120px; float:left; margin-left:10px; padding-top:7px; }
.team-list .user-item .user-name li{  line-height:15px;width:120px;}
.team-list .user-item .ico-dropdown { position:absolute; right:10px; top:10px; }

.team-list .user-avatar { height:50px; width:50px; float:left; }
.team-list .user-avatar img{ height:50px; width:50px; border-radius:25px;}

.team-list .icoopen,.team-list  .icoclose { display:inline-block; width:20px; height:20px; margin-top:40px; cursor:pointer; margin-left:-46px;}
.team-list .icoopen{ background:url('/modules/images/ico-tree-open.png') no-repeat;  }
.team-list .icoclose{ background:url('/modules/images/ico-tree-pull.png') no-repeat;}
.team-list .leftline{ background:url('/modules/images/ico-structure-full.png') no-repeat -5px;display:inline-block; width:65px; height:85px; }
.team-list .lastline{ background:url('/modules/images/ico-structure-last.png') no-repeat -5px; display:inline-block; width:65px; height:85px;}
.team-list .line{ background:url('/modules/images/ico-structure-line.png') no-repeat -5px;display:inline-block; width:65px; height:85px; }
.team-list .null{ display:inline-block; width:65px; height:85px;}

/*公司  */
.content-title{height: 35px;}
.content-title .titlename {color: #666;font-size: 16px;}
