@{
    ViewBag.Title = "意见反馈";
}

@section scripts{
<script src="/Scripts/jquery-1.11.1.js"></script>
<script src="/modules/plug/laydate/laydate.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/feedback"], function (feedback) {
            feedback.init();
        });

        $(function () {
            var begin = {
                elem: '#BeginTime',
                format: 'YYYY-MM-DD',
                max: '2099-06-16',
                istime: false,
                istoday: false,
                choose: function (datas) {
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            };

            var end = {
                elem: '#EndTime',
                format: 'YYYY-MM-DD',
                max: '2099-06-16',
                istime: false,
                istoday: false,
                choose: function (datas) {
                    begin.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            laydate(begin);
            laydate(end);
        });
    </script>
}

<div class="header-box">
    <span class="header-title">意见反馈</span>
</div>
<div class="search-header mTop20">
    <ul class="search-tab search-status">
        <li class="hover"  data-index="-1">所有</li>
        <li data-index="1">待解决</li>            
        <li data-index="2">已解决</li>
        <li data-index="3">驳回</li>
        <li data-index="4">删除</li>
    </ul>  
</div>

<div class="content-body">
    <div class="search-body">
        <div id="FeedTypes" class="left"></div>
        @*<div id="FeedStatus" class="left mLeft20"></div>*@

        <div class="left mLeft20">
            <span class="width80">创建时间：</span><input type="text" id="BeginTime"  class="input"  />
            <span style="padding:0px 5px 0px 3px;">至</span><input type="text" id="EndTime"  class="input"  />
            <span class="btn mLeft10" id="SearchFeedBacks">搜索</span>

        </div>
        <div class="right searth-module" data-text="输入关键字..." data-width="150"></div>
        <div class="clear"></div>
    </div>

    <table class="table-list">
        <tr class="tr-header">            
            <td class="tLeft">标题</td>
            <td class="tLeft">类型</td>
            <td class="tLeft">状态</td>
            <td class="tLeft">联系人</td>
            <td class="tLeft">电话</td>
            <td class="tLeft">创建时间</td>
            <td class="tLeft" width="10%">操作</td>
        </tr>
    </table>

     <div id="pager" class="mTop20"></div>
</div>
