

/*阶段*/
.stage-items { height:70px; overflow-y:auto; white-space: nowrap; }
.stage-items  li{ height:40px; position:relative; cursor:pointer; display:inline-block;  margin-right:5px; width:150px;}
.stage-items  li { background-color:#4a98e7;}
.stage-items  li:hover{ background-color:#2F73B8;}
.stage-items  li.hover{ background-color:#174A7F;}
.stage-items  li span{ float:left; display:inline-block;}

.stage-items  li .bg { position:absolute;border-bottom:solid 20px transparent; border-top:solid 20px transparent; }
.stage-items  li .leftbg{ left:0px; z-index:101; border-left:solid 15px #fff;}
.stage-items  li .name{ height:40px; line-height:40px; text-align:center; color:#eee; width:100%; }
.stage-items  li .rightbg{ right:-15px; z-index:102; border-left:solid 15px #4a98e7;}

.stage-items  li:hover .name{ color:#fff; }
.stage-items  li:hover .rightbg{ border-left:solid 15px #2F73B8; }
.stage-items  li.hover .rightbg{ border-left:solid 15px #174A7F; }
.stage-items  .hover .name{ color:#fff; }

/*阶段行为项*/
.stageitems { width:100%; overflow:auto; }
.stageitems li{ width:33%; height:25px; min-width:200px; line-height:25px; float:left; color:#666; text-indent:5px; }

