@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="UTF-8"/>
    <meta content="因为专一,所以专业" name="keywords"/>
    <meta content="竞猜,彩票市场上龙头工作室。支持第三方应用对接，可针对企业/个体特殊业务流程订制模式.2015年开始运营至今" name="description"/>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>白水非凡工作室--重置密码</title>

    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/home/login.css" rel="stylesheet" />
    
    <link rel="shortcut icon" href="/modules/images/logo_login.png"/>

    <script type="text/javascript" src="/Scripts/sea.js"></script>
    <script type="text/javascript" src="/Scripts/sea-config.js?v=@(ExpandClass.Version)"></script>
    <script type="text/javascript">
        seajs.use(["scripts/home/findpassword"], function (findpassword) {
            findpassword.init();
        });
    </script>
</head>
<body>
    <div class="login-body" >
        <div class="login-header">
           <div class="left header-logo" onclick="location.href='http://www.pcfc28.com'">
                <div class="left"><img src="/modules/images/logo_login.png"  style="width:26px;"/></div>
                <div class="left headerTitle">白水非凡工作室</div>
                <div class="clear"></div>
            </div>
            <a class="btnRegister right" href="/Home/Login">登录</a>
       </div>

        <div class="main">
          
            <div class="loginTitle">重置密码</div>

            <div class="login">
                <div class="registerErr hide"></div>

                <div class="loginbar">
                    <input class="input icoUserName" id="loginName" type="text" placeholder="手机号" value="" maxlength="25"/>
                     <div class="error-body">
                        <div class="error-lump"></div>
                        <div class="error-msg"></div>
                    </div>
                </div>

                <div class="loginbar">
                    <div class="left">
                        <input class="input icoMobileCode" id="code" style="width:200px;" type="text"  placeholder="验证码" />
                    </div>
                    <input type="button" class="btnLogin right" id="btnSendMsg" value="获取验证码" style="width:100px;font-size:14px;"/>

                    <div class="clear"></div>
                     <div class="error-body" id="code-error">
                        <div class="error-lump"></div>
                        <div class="error-msg"></div>
                    </div>
                </div>

                <div class="loginbar">
                    <input class="input icoUserPwd" id="loginPWD" type="password" maxlength="25"/>
                     <div class="error-body">
                        <div class="error-lump"></div>
                        <div class="error-msg"></div>
                    </div>
                    <span class="txtBoxPassword" id="txtBoxPassword">密码,6-25位,至少包含字母/数字/符号两种不同组合</span>
                </div>

                <div class="loginbar">
                    <input class="input icoSurePwd" id="loginSurePWD" type="password" maxlength="25"/>
                     <div class="error-body">
                        <div class="error-lump"></div>
                        <div class="error-msg"></div>
                    </div>
                    <span class="txtBoxPassword" id="txtBoxSurePassword">确认密码</span>
                </div>

                <div class="btnLogin" id="btnUpdateUserPwd">重置</div>
             
            </div>
        </div>
        <div class="copyright">
             Copyright©2016-2016 <a href="http://www.pcfc28.com/">白水非凡工作室</a> 豫ICP备15042543号-2
        </div>
    </div>
</body>
</html>
