@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="UTF-8"/>
    <meta content="企业管理，二当家，直销平台，让营销行云流水" name="keywords"/>
    <meta content="中国市场最通用的企业运营管理服务平台，客户管理，产品管理，营销管理集成在平台之上，功能强大，2016年开始运营" name="description"/>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>二当家使用条款</title>

    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/home/login.css" rel="stylesheet" />
    
    <link rel="shortcut icon" href="/modules/images/logo_login.png">
    <style type="text/css">
        .login-body {
        position:relative;
        background:none;
        }

        .content {
        padding:20px 160px;
        }

        .content .title {
            font-size:20px;
            padding:10px 0px;
        }

        .content p {
            font-size:16px;
            color:#000;
            padding:15px 0px;
        }

        .content ul li {
        line-height:35px;
        }

        .content .content-detail {
            padding:5px 30px;
            list-style:disc;
        }

        .content .content-detail li{
            list-style:disc;
        }
    </style>
</head>
<body>
    <div class="login-body" >
     <div class="login-header">
            <div class="left header-logo" onclick="location.href='http://www.yunxiaokeji.com'">
                <div class="left"><img src="/modules/images/logo_login.png"  style="width:26px;"/></div>
                <div class="left headerTitle">云销科技</div>
                <div class="clear"></div>
            </div>
          
            <a class="btnRegister right mLeft15" href="/Home/Login">注册</a>
            <a class="btnRegister right " href="/Home/Login">登录</a>
            
       </div>

        <div class="content">
            <div class="title">二当家使用条款</div>

            <p>一、合约定义</p>
            <div>
                <ul>
                    <li>
                        1. 二当家是由上海云销信息科技有限公司（以下简称“云销科技”）所有和运作。
                    </li>
                    <li>
                        2. 本合约是网站用户(包括个人、企业及其他组织)与网站运营企业云销科技之间的法律契约。用户访问、浏览和注册云销科技即代表接受本合约条款的约束，用户对云销科技的访问和使用应以接受并遵守本合约所载明的条款和条件为前提。
                    </li>
                </ul>
            </div>

            <p>二、知识产权申明</p>
            <div>
                <ul>
                    <li>
                       1. 云销科技的包括但不限于应用程序、源代码、商标、标示图案(LOGO)、界面设计、应用程序编程接口(API)等所关联的所有知识产权均属云销科技所有。用户不得复制、修改、传播或在非云销科技所属的服务器上做镜像或者以其它方式进行非法使用。
                    </li>
                    <li>
                        2. 用户在云销科技平台所创建的独创性数据归属该用户所有，该用户有权对前述数据进行任何形式的处置，包括从平台中复制，导出和删除。
                    </li>
                    <li>
                        3. 用户应当确保其公开或存储（方式包括但不限于：上传、保存、公布、发布等）于云销科技及相关服务器的内容不存在任何侵犯其他第三方知识产权的情形。若存在本条所述情形，云销科技有权根据具体情节针对上述内容，采取包括但不限于限制、屏蔽、删除、修改等手段，由此给网站用户造成的损失由网站用户自行承担；若云销科技因网站用户存在本条所述行为而向其他第三方承担法律责任的，云销科技有权向网站用户追偿全部损失。
                    </li>
                </ul>
            </div>

            <p>三、网站使用规则</p>
            <div>
                <ul>
                    <li>
                       1. 用户在使用云销科技服务过程中，必须遵循以下规则：
                        <ul class="content-detail">
                            <li>遵守中国有关的法律法规；</li>
                            <li>不得对云销科技服务进行任何形式的对其他第三方的再授权使用、销售或转让；</li>
                            <li>不得为设计开发竞争产品对云销科技进行任何形式的反向工程、反向编译、反汇编，或在竞争产品抄袭模仿云销科技的设计；</li>
                            <li>不得滥用云销科技的通信功能发送垃圾邮件和短信；</li>
                            <li>不得对云销科技的连续服务和商誉构成损害的其他行为，包括对网站服务器的攻击；</li>
                            <li>遵守本协议中的全部约定</li>
                        </ul>
                    </li>
                    <li>
                        2. 如用户在使用云销科技服务时违反任何上述规定，云销科技有权要求用户改正或直接采取一切必要的措施（包括但不限于暂停或终止用户使用云销科技服务的权利并追讨因此带来的损失）以减轻用户不当行为造成的影响。
                    </li>
                    <li>
                       3. 用户所拥有的互联网域名所对应的手机号作为用户权证的唯一识别信息。当用户不再拥有或完全控制在云销科技登记的域名时，云销科技有权随时删除所有的用户数据。
                    </li>
                    <li>4. 用户须对在 二当家 的注册信息的真实性、合法性、有效性承担全部责任，用户不得冒充他人；不得利用他人的名义发布任何信息；不得恶意使用注册帐户导致其他用户误认；否则 云销科技 有权立即停止提供服务，收回其帐号并由用户独自承担由此而产生的一切法律责任。</li>
                    <li>5. 用户直接或通过各类方式（如 RSS 源和站外 API 引用等）间接使用 二当家 服务和数据的行为，都将被视作已无条件接受本协议全部内容；若用户对本协议的任何条款存在异议，请停止使用 二当家 所提供的全部服务。</li>
                    <li>6. 用户承诺不得以任何方式利用 云销科技 直接或间接从事违反中国法律、以及社会公德的行为， 云销科技 有权对违反上述承诺的内容予以删除。</li>
                    <li>7. 用户不得利用 二当家 服务制作、上载、复制、发布、传播或者转载如下内容：
                        <ul class="content-detail">
                            <li>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
                            <li>损害国家荣誉和利益的；</li>
                            <li>煽动民族仇恨、民族歧视，破坏民族团结的；</li>
                            <li>破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
                            <li>散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
                            <li>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
                            <li>侮辱或者诽谤他人，侵害他人合法权益的；</li>
                            <li>含有法律、行政法规禁止的其他内容的信息。</li>
                        </ul>
                    </li>
                    <li>8. 云销科技 有权对用户使用 二当家 的情况进行审查和监督，如用户在使用 二当家 时违反任何上述规定， 云销科技 或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户张贴的内容、暂停或终止用户使用 二当家 的权利）以减轻用户不当行为造成的影响。</li>
                    <li>9. 云销科技 有权但无义务对用户发布的内容进行审核，有权根据相关证据结合《侵权责任法》、《信息网络传播权保护条例》等法律法规及 云销科技 社区指导原则对侵权信息进行处理。</li>
                </ul>
            </div>

            <p>四、用户信息保护</p>
            <div>
                <ul>
                    <li>1. 云销科技应当从组织结构和技术角度尽最大努力保护用户数据安全，只根据用户在网站上的行为指示来分发用户的信息。云销科技永远不会将用户产生的具体数据提供任何无关第三方。</li>
                    <li>2. 云销科技保留使用汇总统计性信息的权利，在不透露单个用户隐私资料的前提下，云销科技有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</li>
                    <li>3. 客户如果需要云销科技全面删除用户数据，需要书面向云销科技提出申请，并盖有公司公章。</li>
                </ul>
            </div>

             <p>五、免责申明</p>
            <div>
                <ul>
                    <li>1. 云销科技将尽最大努力保障软件平台的连续可靠运行，但鉴于网络服务的特殊性，云销科技对可能发生的网络服务的中断或终止所可能导致的一切损失，不承担任何法律责任及经济赔偿。</li>
                    <li>2. 云销科技将尽最大努力保障客户数据的安全备份，但无法承诺100%的数据恢复，对因数据丢失带来的任何直接或间接损失不承担任何责任。</li>
                    <li>3. 在发生需要从备份文件中恢复数据的情形时，云销科技通常需要4小时，最长48小时完成，在此时间范围内的数据恢复视作服务是连续的。</li>
                    <li>4. 对于因不可抗力或云销科技不能控制的原因造成的网络服务中断和长时间终止，云销科技不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</li>
                </ul>
            </div>

            <p>六、合约变更</p>
            <div>
                <ul>
                    <li>1. 云销科技有权随时对本合约的条款进行修订，一旦本合约的内容发生变更，云销科技将会在修订生效日前一个工作日更新。</li>
                    <li>2. 如用户继续使用网络服务，则视为用户接受云销科技对合约相关条款所做的修订。</li>
                    <li>3．云销科技有权对二当家的定价进行修订，并在修订生效日前一个月通告给所有二当家用户</li>
                    <li>4．修订的条款始终公开在<a href="http://edj.yunxiaokeji.com/home/terms">http://edj.yunxiaokeji.com/home/terms</a></li>
                </ul>
            </div>

            <p>七、法律适用</p>
            <div>
                <ul>
                    <li>1. 本合约的订立、执行和解释以及争议的解决均应适用中华人民共和国法律并受中国法院管辖。</li>
                    <li>2. 协议双方就本合约内容或其执行发生任何争议，应首先力争友好协商解决；协商不成时，任何一方均可向云销科技注册地所在的人民法院提起诉讼。</li>
                </ul>
            </div>
        </div>


        <div class="copyright">
            Copyright©2015-2016 <a href="http://www.yunxiaokeji.com">云销科技</a> 沪ICP备15042543号-2
        </div>
    </div>
</body>
</html>
