@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>云销后台登录</title>
    <link href="/modules/css/layout.css" rel="stylesheet" />
    <link href="/modules/css/login.css" rel="stylesheet" />
    <link href="/modules/css/base.css" rel="stylesheet" />

    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>
   <script type="text/javascript">
       seajs.use(["scripts/home"], function (home) {
           home.loginInit();
       });
    </script>
</head>
<body>
    <div class="login-body">
        <div class="main">
            <div class="title">
                <div class="left"><img src="/modules/images/logo_login.png"  style="width:33px;"/></div>
                <div class="left" style="margin-left:5px;color:#4a98e7; text-align:center; font-size:24px; line-height:30px;">云销系统后台</div>
                <div class="clear"></div>
            </div>
            <div class="login">
                <div class="loginbar">
                    <input type="text" id="iptUserName" placeholder="请输入账号" maxlength="25"/>
                </div>
                <div class="loginbar">
                    <input type="password"  placeholder="请输入密码" id="iptPwd" />
                </div>
                <div id="loginBtn" class="mTop20"> 
                    <div class="btnLogin" id="btnLogin">登录</div>
                </div>

             
            </div>
        </div>
        <div class="copyright">
            Copyright©2015-2016 云销科技 保留所有权利<br/>沪ICP备15042543号-2
        </div>
    </div>
</body>
</html>
