{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
   
    <td class="tLeft">{%=item.Name%}</td>
    <td class="tLeft">{%=item.PeriodQuantity%}/{%=item.Period==1?"月":"年"%}</td>
<!--    <td class="tLeft"></td>-->
    <td class="tLeft">{%=item.UserQuantity%}</td>
    <td class="tLeft">{%=item.Price%}</td>
    <td class="tLeft">{%=item.Description%}</td>
    <td class="tLeft">{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
    <td class="tLeft">
        <a href="/System/Detail/{%=item.AutoID%}" class="ico-edit" title="设置" data-id="{%=item.AutoID%}"></a>
        <a  class="ico-del mLeft10" href="javascript:void(0)" title="删除" data-id="{%=item.AutoID%}"></a>
    </td>
</tr>
{% } %}
