{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<div class="menuitem">
    <div></div>
    <span class="{%=(i==$data.length-1)?'lastline':'leftline'%} left"></span>
    <span data-id="{%=item.MenuCode%}" data-eq="{%=(i==$data.length-1)?'last':''%}" data-state="close" class="{%=(item.ChildMenus.length>0)?'icoopen left openchild':''%} "></span>
    <label class="left check" data-cid="{%=item.MenuCode%}" >
        <input type="checkbox" value="{%=item.MenuCode%}" data-id="{%=item.MenuCode%}" class="left" /> 
        <span class="left">{%=item.Name%}</span>
    </label>
</div>
{% } %}
