
<ul class="easydialog-create">    
    <li ><span class="left width80">姓    名：</span><input type="text" id="modelName" maxlength="20" class="input verify " data-empty="必填" /></li>
    <li class="userlihide"><span class="left width80">登录账号：</span><input type="text" id="modelLoginName" maxlength="20" class="input verify " data-empty="必填" /><span id="LoginameInfo" class="red mLeft10"></span></li>
    <li class="userlihide"><span class="left width80">登录密码：</span><input type="text" id="modelLoginPWD" maxlength="20" class="input verify " data-empty="必填" /><span id="NewPwdError" class="red mLeft10"></span></li>
    <li class="userlihide"><span class="left width80">确认密码：</span><input type="text" id="modelNewConfirmPwd" maxlength="20" class="input verify " data-empty="必填" /><span id="NewConfirmPwdError" class="red mLeft10"></span></li>    
    <li><span class="left width80">邮    箱：</span><input type="text" id="modelEmail" maxlength="20" class="input" /></li>
    <li><span class="left width80">手    机：</span><input type="text" id="modelMobilePhone" maxlength="11" class="input" /></li>
    <li><span class="left width80">办公电话：</span><input type="text" id="modelOfficePhone" maxlength="20" class="input" /></li>
    <li><span class="left width80">职    位：</span><input type="text" id="modelJobs" maxlength="200" class="input" /></li>
    <li><span class="left width80">角    色：</span><select id="modelRoles" ></select></li>
    <li><span class="left width80">描    述：</span><textarea id="modelDescription"></textarea></li>
</ul>