@{
    ViewBag.Title = "客户行为统计";
}

@section css{
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
    }
@section scripts{
    <script src="/modules/plug/laydate/laydate.js"></script>
        <script type="text/javascript">
            seajs.use(["scripts/report/agentactionreport"], function (agentactionreport) {
                agentactionreport.init();
            }); 
    </script>
}

<div class="header-box">
    <span class="header-title">客户行为统计</span>
</div>

<div class="content-body">
        <div class="search-body">
        <div id="FeedTypes" class="left"></div>
        <div id="FeedStatus" class="left mLeft20"></div>
         <div class="left mBottom10">
            <input type="text" id="rptBeginTime" placeholder="请选择时间段"  class="ipt-date" />
        </div> 
        <div class="right searth-module" data-text="输入关键字..." data-width="150"></div>
        <div class="clear"></div>
    </div>

    <table class="table-list">
        <tr class="tr-header">
            <td class="tLeft">公司代码</td>
            <td class="tLeft">公司名称</td>
            <td>
                <span class="td-span" data-column="SUM(a.CustomerCount)"> 客户
                    <span class="asc"></span>
                    <span class="desc hover"></span>
               </span>
            </td>
            <td>
                <span class="td-span" data-column="SUM(a.OrdersCount)"> 订单
                    <span class="asc"></span>
                    <span class="desc"></span>
               </span>
            </td>
            <td>
                <span class="td-span" data-column="SUM(a.ActivityCount)"> 活动
                    <span class="asc"></span>
                    <span class="desc"></span>
               </span>
            </td>
            <td>
                <span class="td-span" data-column="SUM(a.ProductCount)"> 产品
                    <span class="asc"></span>
                    <span class="desc"></span>
               </span>
            </td>
            <td>
                <span class="td-span" data-column="SUM(a.UsersCount)"> 员工
                    <span class="asc"></span>
                    <span class="desc"></span>
               </span>
            </td>
            <td>
                <span class="td-span" data-column="SUM(a.AgentCount)"> 代理商
                    <span class="asc"></span>
                    <span class="desc"></span>
               </span> 
            </td>
            <td>
                <span class="td-span" data-column="SUM(a.OpportunityCount)"> 机会 
                    <span class="asc"></span>
                    <span class="desc"></span>
               </span>
            </td>

            <td>
                <span class="td-span" data-column="SUM(a.PurchaseCount)"> 采购 
                    <span class="asc"></span>
                    <span class="desc"></span>
               </span>
            </td>
            <td>
                <span class="td-span" data-column="SUM(a.WarehousingCount)"> 出库 
                    <span class="asc"></span>
                    <span class="desc"></span>
               </span>
            </td>
        </tr>
    </table>
     <div id="pager"  class="mTop20"></div>
</div>
