@{
    ViewBag.Title = "权限设置"; 
    var menus = (List<OWZXEntity.Menu>)ViewBag.Menus;
    var model = (OWZXEntity.Manage.M_Role)ViewBag.Model;
}
 
    <link rel="stylesheet" href="/modules/css/system/role.css" />
 @section scripts{
   <script type="text/javascript">
       seajs.use(["scripts/sysset/roles"], function (obj) {
           obj.initPermission('@(model.RoleID)', '@Html.ToJSONString(menus)', '@Html.ToJSONString(model.Menus)');
        });
    </script>
} 
    
  
<div class="header-box">
    <span class="header-title left">当前位置-权限设置</span>
    <a class="back right" href="javascript:if(history.length>1){ history.go(-1);} else{}">
        <i class="iconfont blue">&#xe62d;</i> 返回
    </a>
</div>
<div class="content-body">
    <h1 class="font16">@(model.Name)-权限设置</h1>
    <div id="rolePermission" class="menulist mTop10">
    </div>
    <div class="mTop20">
        <div class="btn " id="savePermission">保存</div>
    </div>
</div> 
