@{
    ViewBag.Title = "快递公司列表";
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/expresscompany"], function (ExpressCompany) {
            ExpressCompany.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title">快递公司列表</span>
    <a href="ExpressDetail" class="btn right">新建客户端</a>

</div>

<div class="content-body">
        <div class="right searth-module"> </div>
        <div class="clear"></div>
    <table class="table-list">
        <tr class="tr-header">            
            <td class="tLeft">名称</td>
            <td class="tLeft">网址</td>
            <td class="tLeft">创建时间</td>
            <td class="tLeft" width="10%">操作</td>
        </tr>
    </table>

    <div id="pager" class="mTop20"></div>
</div>

