@{
    ViewBag.Title = "模块产品列表";
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/modulesproduct"], function (ModulesProduct) {
            ModulesProduct.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title">模块产品列表</span>
     <a class="btn right" href="Detail">添加产品</a>
</div>

<div class="content-body">
    <div class="right searth-module"> </div>
    <div class="clear"></div>
    <table class="table-list">
        <tr class="tr-header">            
            <td class="tLeft">模块</td>
            <td class="tLeft">周期量</td>
         @*   <td class="tLeft">周期</td>*@
            <td class="tLeft">人数</td>
            <td class="tLeft">价格</td>
            <td class="tLeft">描述</td>
            <td class="tLeft">创建时间</td>
            <td class="tLeft" width="10%">操作</td>
        </tr>
    </table>
    <div id="pager" class="mTop20"></div>
</div>
