
@{
    ViewBag.Title = "客户详情";
}
<style type="text/css">
    .source-box { height: 400px; }
</style>
@section css{
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
    } 
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/client/clientdetail"], function (client) {
            client.detailInit('@ViewBag.ID');
        }); 
    </script>
}
<div class="header-box">
    <span class="header-title left">客户详情页</span>
     <a class="back right color333" href="javascript:if(history.length>1){ history.go(-1);} else{}">
        <i class="iconfont blue">&#xe62d;</i> 返回
    </a> 
</div>


<div class="content-body mTop20">
    <div class="content-title">
        <div id="customerName" class="left titlename bolder"></div>
        <div id="updateClient" class="left ico-edit mLeft20"></div>
        <div id="delClient" class="btn delClient right ">删除</div>
         <div class="clear"></div>
    </div>
     <ul class="content-info">
        <li><span class="column-title">公司名称：</span><label id="lblName"></label></li>
        <li><span class="column-title">联系人：</span><label id="lblContact"></label></li>
        <li><span class="column-title">联系电话：</span><label id="lblMobile"></label> </li>
        <li><span class="column-title">办公电话：</span><label id="lblOfficePhone"></label> </li>
        <li><span class="column-title">授权人数：</span><label id="lblUserQuantity"></label> </li>
        <li><span class="column-title">到期时间：</span><label id="lblEndTime"></label> </li>
        <li><span class="column-title">行业：</span><label id="lblindustryName"></label></li>
        <li><span class="column-title">地址：</span><label id="lblCity"></label></li>
        <li><span class="column-title">详细地址：</span><label id="lblAddress"></label></li>
        <li style="width:100%;"><span class="column-title">备注：</span> <label id="lblDescription"></label></li>
        <li class="hide"> <select id="industrytemp">
            @foreach (CloudSalesEntity.Industry model in (List<CloudSalesEntity.Industry>)ViewBag.Industry)
            {
                <option value="@(model.IndustryID)" data-name="@(model.Name)">@(model.Name)</option>
            }
            <option value="">其他行业</option>
        </select>
        </li>
    </ul>   
   
</div>
<div class="search-header mTop20">
    <ul class="search-tab search-status">
        <li class="hover"  data-index="0">订单</li>
        <li data-index="1">授权记录</li>            
        <li data-index="2">统计</li>
    </ul>  
     <div class="tRight">
        <input type="button" id="addNewOrder" class="btn " value="新建订单" />
        <input type="button" id="addAuthorize" class="btn" style="display:none;" value="赠送授权" />
    </div>
    <div class="clear"></div>
</div>
<div class="content-body">
    <div name="navContent">
        <div id="OrderTypes" class="left"></div>
        <div id="OrderStatus" class="left mLeft20"></div>

        <div class="left mLeft20">
             <input type="text" id="orderBeginTime" placeholder="请选择订单时间段"  class="ipt-date" />  
        </div>
        <div class="clear"></div>

        <table class="table-list mTop10" id="tb-clientOrders">
            <tr class="tr-header" id="clientOrders">
                <td class="tLeft minwidth70">订单时间</td>
                <td class="width200">购买人数</td>
                <td class="width150">购买年数</td>
                <td class="width150">金额</td>
                <td class="width200">订单类型</td>     
                <td class="width200">订单状态</td>     
                <td class="width200">支付状态</td>     
                <td class="width150">创建人</td>
                <td class="width200">审核人</td>     
                <td class="width200">审核时间</td>     
                <td class="width150">操作</td>
            </tr>
        </table>

        <div id="pager2" class="mTop20"></div>
    </div>
    <div class="contentnew hide" name="navContent" style="border-bottom:none;">
        
        <table class="table-list" id="tb-clientLog">
            <tr class="tr-header" id="client-header">
                <td class="">授权类型</td>
                <td class="">授权方式</td>
                <td class="">授权人数</td>
                <td class="">开始时间</td>
                <td class="">结束时间</td>
                <td class="">创建时间</td>
            </tr>
        </table>
        <div id="pager" class="mTop20"></div>
    </div>
    <div name="navContent" class=" hide">
        <div class="search-box">
            <div class="search-header">
                 <div class="left">
                    <ul class="search-tab search-type">
                        <li data-id="clientsVitalityRPT" data-type="3" class="hover">按月统计</li>
                        <li data-id="clientsVitalityRPT" data-type="2">按周统计</li>
                        <li data-id="clientsVitalityRPT" data-type="1">按日统计</li>
                    </ul>
                </div>
                <div class="left search-body">
                     <input type="text" id="reportBeginTime" placeholder="请选择时间段"  class="ipt-date" />  
                </div>
                <div class="clear"></div>
            </div>
        </div>
     

        <div id="clientdetailVitalityRPT" class="source-box" style="display:block">

        </div>

    </div>
     
</div>

