@{
    ViewBag.Title = "客户列表";
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/client/clients"], function (client) {
            client.init();
        });
    </script>
}

<div class="header-box">
    <span class="left header-title">客户列表</span>    
    <a href="Create" class="btn right">新建客户端</a>
</div>

<div class="content-body">
    <div class="right searth-module"> </div>
    <div class="clear"></div>
    <table class="table-list">
        <tr class="tr-header" id="client-header">
            <td class="tLeft">公司代码</td>
            <td class="tLeft">公司名称</td>
            <td class="">联系人</td>
            <td class="">移动电话</td>
            <td class="">省份城市</td>
            <td class="">
                <span class="td-span" data-column="a.CreateTime"> 注册日期
                    <span class="asc"></span>
                    <span class="desc"></span>
               </span>
            </td>
            <td class="">
                <span class="td-span" data-column="b.UserQuantity"> 授权人数
                    <span class="asc"></span>
                    <span class="desc"></span>
               </span>
            </td>
            <td class="">
                <span class="td-span" data-column="b.EndTime"> 到期时间
                    <span class="asc"></span>
                    <span class="desc"></span>
               </span>
            </td>
            <td class="" width="10%">操作</td>
        </tr>
    </table>

    <div id="pager" class="mTop20"></div>
</div>

