@{
    ViewBag.Title = "客户详情";
}
<link href="/modules/css/clients.css" rel="stylesheet" />
<script src="/modules/plug/laydate/laydate.js"></script>
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/client/orderdetail"], function (client) {
            client.detailInit('@ViewBag.ID');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">订单详情页</span>
     <a class="back right color333" href="javascript:if(history.length>1){ history.go(-1);} else{}">
        <i class="iconfont">&#xe62d;</i> 返回
    </a> 
</div>

<div class="content-body mTop20">
     <ul class="content-info"> 
        <li><span class="column-title">公司名称：</span><label id="lblName"></label></li>
        <li><span class="column-title"> &nbsp;</span>  </li>
        <li><span class="column-title">订单类型：</span><label id="lblType"></label></li>
        <li><span class="column-title">订单来源：</span><label id="lblSourceType"></label> </li>        
        <li><span class="column-title">授权人数：</span><label id="lblUserQuantity"></label> </li>
        <li><span class="column-title">购买年数：</span><label id="lblYears"></label> </li>
        <li><span class="column-title">订单状态：</span><label id="lblStatus"></label> </li>
        <li><span class="column-title">金额：</span><label id="lblAmount"></label></li>
        <li><span class="column-title">支付状态：</span><label id="lblPayStatus"></label> </li>  
        <li><span class="column-title">支付金额：</span><label id="lblPayFee"></label></li> 
        <li><span class="column-title">创建时间：</span><label id="lblCreateTime"></label></li>
        <li><span class="column-title">创建人：</span><label id="lblCreateUser"></label></li>
        <li><span class="column-title">审核时间：</span><label id="lblCheckTime"></label></li>
        <li><span class="column-title">审核人：</span><label id="lblCheckUser"></label></li>
        <li class="hide"><span class="column-title"> 退款金额：</span><label id="lblReFundFee"></label></li>
    </ul>   
   
</div>
<div class="search-header mTop20">
    <ul class="search-tab search-status"> 
        <li class="hover"  data-index="0">账目信息</li>   
    </ul>  
     <div class="tRight"> 
        <input type="button" class="btn " id="addAccount" value="新增账目" />
    </div>
    <div class="clear"></div>
</div>
<div class="content-body pBottom50">
    <div class="contentnew" name="navContent" style="border-bottom:none;">        
        <table class="table-list" id="tb-clientOrderAccount">
            <tr class="tr-header" id="clientorderaccount-header">
                <td class="">交易号</td>
                <td class="">付款类型</td>
                <td class="">收支类型</td>
                <td class="">金额</td>
                <td class="">状态</td>
                <td class="">创建时间</td>
                <td class="">创建人</td>
                <td class="">审核时间</td>
                <td class="">审核人</td>
                <td class="">操作</td>
            </tr>
        </table>
    </div>     
</div>
