@{
    ViewBag.Title = "客户订单列表";
}

@section css{
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
    }
@section scripts{
    
    <script type="text/javascript">
        seajs.use(["scripts/client/order"], function (order) {
            order.init();
        });
         
    </script>
}
 
<div class="header-box">
    <span class="header-title">客户订单列表</span>
</div>

<div class="content-body">
    <div id="OrderTypes" class="left"></div>
        <div id="OrderStatus" class="left mLeft20"></div>

        <div class="left mLeft20">  
             <input type="text" id="orderBeginTime" placeholder="请选择时间段"  class="ipt-date" /> 
        </div>
        <div class="clear"></div>

    <table class="table-list mTop20">
        <tr class="tr-header" id="clientOrders">
            <td class="tLeft width150">公司代码</td>
            <td class="tLeft width200">公司名称</td>
            <td class="width150">授权人数</td>
            <td class="width150">购买年数</td>
            <td class="width150">金额</td>
            <td class="width150">订单类型</td>
            <td class="width150">订单状态</td>
            <td class="width150">支付状态</td>
            <td class=" minwidth70">订单时间</td>
            <td class="width150">创建人</td>
            <td class="width150">来源</td>
            <td class="width150">操作</td>
        </tr>
    </table>
</div>
<ul class="dropdown-ul hide" style="width:65px;">
    <li class=" " id="examineOrder">审核</li>
    <li class=" " id="editOrder">改价</li>
    <li class=" " id="deleteOrder">删除</li>
</ul>
