body { background-color: #f2f4f8; }
.register-body{ background:url(/modules/images/loginMainBackground.jpg) no-repeat right bottom; background-size:cover; width:100%; height:100%; position:fixed;}

.register-body .main { margin: 100px auto; width: 320px; background-color: #fff; padding: 30px 20px 30px 20px;}
.register-body .register-header {
    padding-top:15px;
}
.register-body .header-logo { cursor: pointer; }

.register-body .headerTitle {margin-left:5px; color:#4a98e7; text-align:center; font-size:16px;line-height:24px;}
.register-body .main .login{margin-top:25px;}
.register-body .main .login .loginbar{ width:100%;height:40px; margin:10px 0px;position:relative;}
.register-body .main .loginTitle {color:#4a98e7; text-align:center; font-size:22px;}
.register-body .loginbar .input{ width:308px;height:40px; border:solid 1px #ccc;color:#333;  text-indent:26px; background-color:#fff;}
.register-body .registerErr { width: 100%; height: 40px; margin: 10px 0px; background-color: #ffd0d0; line-height: 40px; text-align: center; 
                           color: red; border-radius: 3px; }
.errIpt {
    border: 1px solid #F57676!important;
}
.linkRegister { height: 26px; line-height: 26px; padding: 0px 28px 0px 8px; background-color: #fff; color: #aaa; font-size: 14px; 
               text-align: center; cursor: pointer; border-radius: 3px; opacity: 0.8; border: solid 1px #4a98e7;color:#4a98e7; 
               background: url(/modules/images/ico-goregister-hover.png) no-repeat 40px center;margin:5px 4px 0 0; }

.linkRegister:hover { height: 26px; line-height: 26px; padding: 0px 28px 0px 8px; background-color: #fff; color: #2F73B8; font-size: 14px; 
                     text-align: center; cursor: pointer; border-radius: 3px; opacity: 0.8; border: solid 1px #2F73B8; 
                     background: url(/modules/images/ico-goregister-hover.png) no-repeat 40px center; }
.btnRegister { height:40px;line-height:40px; background-color:#4A98E7 ; color:#fff; font-size:16px; text-align:center;
border:none; cursor:pointer; display:inline-block; border-radius:3px; width:320px;}

.icoUserName { background:url(/modules/images/ico-name.png) no-repeat 7px 11px;border-radius:3px;}
.icoUserPwd { background:url(/modules/images/ico-pwd.png) no-repeat 7px 11px;border-radius:3px;}
.icoMobileCode { background:url(/modules/images/ico-mobilecode.png) no-repeat 7px 11px;border-radius:3px;width:200px!important;}
.icoUserCompany { background:url(/modules/images/ico-company.png) no-repeat 7px 11px;border-radius:3px;}
.icoName { background:url(/modules/images/ico-username.png) no-repeat 7px 11px;border-radius:3px;}
.icoSurePwd { background:url(/modules/images/ico-surepwd.png) no-repeat 7px 11px;border-radius:3px;}

.error-body { display: none; }
.error-lump { border-right:solid 7px #ffd0d0; border-top:solid 8px transparent ;border-bottom:solid 8px transparent; 
             width:0; height:0; position:absolute; left:325px; top:12px;z-index:100; }
.error-msg { padding: 8px; background-color: #ffd0d0; color: red; position: absolute; left: 331px; top: 5px; z-index: 100; width: 120px; }
.txtBoxPassword { position: absolute; top: 0px; left: 0px; width: 308px; height: 40px; line-height: 40px; color: #999; text-indent: 31px; display: block; }

.register-remember-box { height:30px; margin-top:30px; }
.register-remember-box .cb-remember-password { cursor:pointer; padding-left:2px; color:#999; }

@media only screen and ( max-width:450px) {
    .register-body .main {margin: 50px auto;width: 280px; }
    .register-body .loginbar .input { width: 268px; }
    .btnRegister { width: 280px; }
    .icoMobileCode {
    width:160px!important;
    }
}