@{
    Layout = null;
}

<head >
 <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>访问出错-二当家</title>
<link href="/modules/css/base.css" rel="stylesheet" /> 
<link href="/modules/css/iconfont/iconfont.css" rel="stylesheet" />
<link href="/modules/css/error.css" rel="stylesheet" />
</head>

<div class="error-header" onclick="location.href='/home/index'">二当家</div>

<div class="error-box">
    <div class="left">
        <img src="/modules/images/img-noaccess.png" />
    </div>

    <div class="error-content right">
        <div class="title">可能由于以下原因造成：</div>
        <ul>
            <li>·  在地址中可能存在键入错误。</li>
            <li>·  当您点击某个链接时，它可能已经过期。</li>
            <li>·  网络异常，数据加载出错。</li>
        </ul>

        <div class="title mTop50">您可以尝试以下操作：</div>
        <ul>
            <li><span class="iconfont">&#xe64a;</span><a href="@ViewData["urlReferrer"]">重新打开</a>  页面</li>
            <li class="hide"><span class="iconfont">&#xe64a;</span>将问题 <a>反馈</a> 给我们</li>
            <li class="hide"><span class="iconfont">&#xe64a;</span>拨打客服热线  <a></a> 联系我们处理</li>
        </ul>

        <div class="mTop20">
            <div class="left btn-home" onclick="location.href = '/Home/Index'">返回首页</div>
            <div class="left btn-prev mLeft20" onclick="location.href = '@ViewData["urlReferrer"]'">返回上一页</div>
            <div class="clear"></div>
        </div>
        <div class="hide">
            @ViewData["error"]
            <br/>
            @ViewData["exMessage"]
        </div>
    </div>

    <div class="clear"></div>
</div>
