@{
    ViewBag.Title = "行业列表";
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/industry"], function (Industry) {
            Industry.init();
        });
    </script>
}

<div class="header-box">
    <span class="header-title">行业列表</span>
    <div class="right searth-module"> </div>
</div>

<div class="content-body">
    <table class="table-list">
        <tr class="tr-header">            
            <td class="tLeft">名称</td>
            <td class="tLeft">描述</td>
            <td class="tLeft">创建时间</td>
            <td class="tLeft" width="10%">操作</td>
        </tr>
    </table>
</div>
