{%
	var item = $data;
%}
<ul class="easydialog-create">
    <li>
        <span class="width80">公司名称：</span>
        <span><input type="text" id="name" class="verify" data-empty="公司名称不能为空!" value="{%=item.CompanyName%}"/></span>
    </li>
    <li>
        <span class="width80">联系人：</span>
        <span><input type="text" id="contact" class="verify" data-empty="联系人不能为空!" value="{%=item.ContactName%}" /></span>
    </li>
    <li>
        <span class="width80">联系电话：</span>
        <span><input type="text" id="mobile" class="verify" data-type="mobile" value="{%=item.MobilePhone%}" maxlength="11" data-text="格式不正确!" data-empty="电话不能为空!" /></span>
    </li>
    <li>
        <span class="width80">办公电话：</span>
        <span><input type="text" id="officePhone" value="{%=item.OfficePhone%}" /></span>
    </li>
    <li>
        <span class="width80">行业：</span>
        <span>
            <select id="industry">
              
            </select>
        </span>
        <span id="otherIndustry" class="hide">
            名称：
            <input type="text" id="industryName" /><a href="javascript:void(0)" id="saveIndustry" class="btnS mLeft10 hide">保存</a>
        </span>
    </li>
    <li>
        <span class="width80">地址：</span>
        <span id="citySpan">
            
        </span>
    </li>
    <li>
        <span class="width80">详细地址：</span>
        <input type="text" placeholder="详细地址..." class="width300"  id="address" value="{%=item.Address%}" />
    </li>

    <li>
        <span class="width80">备注：</span>
        <textarea id="description">
           {%=item.Description%}
              </textarea>
    </li>
    <li>
            
    </li>
</ul>
