{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class="tLeft">{%=item.ClientCode%}</td>
    <td class="tLeft"><a href="/Client/Detail/{%=item.ClientID%}">{%=item.CompanyName%}</a></td>
    <td class="center">{%=item.ContactName%}</td>
    <td class="center">{%=item.MobilePhone%}</td>
    <td class="center">{%=item.Address%}</td>
    <!--<td class="center" title="{%=item.Description%}">{%=item.Description.subString(50)%}</td>-->
    <td class="center">{%=item.CreateTime.toDate("yyyy-MM-dd")%}</td>
    <td class="center">{%=item.UserQuantity%}</td>
    <td class="center">{%=item.EndTime.toDate("yyyy-MM-dd")%}</td>
    <td class="center">
        <a href="/Client/Detail/{%=item.ClientID%}" class="ico-edit" title="设置" data-id="{%=item.ClientID%}"></a>
        <a class="ico-del mLeft10" href="javascript:void(0)" title="删除" data-id="{%=item.ClientID%}"></a>
    </td>
</tr>
{% } %}
