{%
	for(var i=0, j=$data.length; i < j; i++){
	var item = $data[i];
%}
<tr class="list-item">
    <td class="center">{%=item.AlipayNo%}</td>
    <td class='center'>{%=item.PayType==1?"现金":item.PayType==2?"在线支付":item.PayType==3?"支付宝":item.PayType==4?"微信":"线下汇款"%}</td>
    <td class="center">{%= item.Type==1?"收款": "退款"%}</td>
    <td class='center'>{%= item.RealAmount%}</td>
    <td class='center'>{%= item.Status==0?"未审核":item.Status==1?"已审核":"已关闭"%}</td>   
    <td class='center'>{%=item.CreateTime.toDate("yyyy-MM-dd hh:mm:ss")%}</td>
    <td class='center'>{%=item.CreateUser==null?"--":item.CreateUser.Name%}</td>    
    <td class='center'>{%=item.CheckTime.toDate("yyyy")!='3939'?item.CheckTime.toDate("yyyy-MM-dd"):'--'%}</td>    
    <td class='center'>{%=item.CheckUser==null?"--":item.CheckUser.Name%}</td> 
        {% if(item.Status==1){ %}
            <td class="center"  data-id="{%=item.OrderID%}">
            <a href="javascript:void(0);" class="viewRemark" data-remark="{%=item.Remark%}"  >查看备注</a>
        {% } else if(item.Status==0){ %}
            <td class="center dropdown" data-amount="{%=item.RealAmount%}" data-id="{%=item.OrderID%}">
            <a href="javascript:void(0);" class="checkOrderAccount" title="审核" data-id="{%=item.AutoID%}" data-orderid="{%=item.OrderID%}">审核</a>
            <!--<a href="javascript:void(0);" class="mLeft10 deleteOrderAccount"  title="删除" data-id="{%=item.AutoID%}">删除</a>-->
        {% } else{ %}
            <td class="center">
        {% } %}
    </td>  
</tr>
{% } %}

